@model Dish
@{
	var request = ViewContext.HttpContext.Request;
	var returnUrl = request.Path +
	request.QueryString.ToUriComponent();
}
<div class="col-4 p-4">
	<div class="card border-dark m-2">
		<img class="card-img-top" src="@Model.Image" alt="No image available" />
		<div class="card-body">
			<h5 class="card-title">@Model.Name</h5>
			<p class="card-text">@Model.Description</p>
			<h5>
				<span class="badge bg-secondary">
					@Model.Calories
					калорий
				</span>
			</h5>
		</div><!-- card-body -->
		<div class="card-footer text-center">
			<a class="btn btn-outline-primary"
			   asp-action="add" asp-controller="cart"
			   asp-route-id="@Model.Id"
			   asp-route-returnurl="@returnUrl">
				Add to cart <i class="fa-solid fa-cart-shopping"></i>
			</a>
		</div><!-- card-footer -->
	</div><!-- card -->
</div><!-- col -->